// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/around-page/around-page";
@import "../pages/profile-page/profile-page";
@import "../pages/category-page/category-page";
@import "../pages/home-page/home-page";
@import "../pages/scientific-facts-page/scientific-facts-page";
@import "../pages/selected-fact-page/selected-fact-page";
@import "../pages/account-manager/account-manager.scss";
@import "../pages/system-manager/system-manager.scss";

.devide-div {
  height: 16px;
  display: inline-block;
}

.color-light {
  color: #c8c7cc;
}

.config-list ion-label {
  color: color($colors, dark);
}

.config-list .item-right-text {
  font-size: 14px;
}